;assert 1


       ORG      START
START  SPL.B  $    89, < -2050     
       SPL.B  $     1, <   440     
       SPL.B  $     1, <   460     
       SPL.B  $    17, <  2113     
       SPL.B  $    25, <  2140     
       SPL.B  $    33, <  2720     
       SPL.B  $    41, <  4000     
       SPL.B  $    49, <  3980     
       SPL.B  $    57, <  3360     
       SPL.B  $    65, <  -970     
       MOV.AB #     8, $     8     
       MOV.I  <    -1, <     2     
       MOV.I  <    -2, <     1     
       SPL.B  @     0, $ -2340     
       MOV.I  <    -1, $  1020     
       JMZ.B  $    -5, $    -5     
       MOV.I  $     0, $    -1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, #     1     
       MOV.AB #     8, $     8     
       MOV.I  <    -1, <     2     
       MOV.I  <    -2, <     1     
       SPL.B  @     0, $ -2177     
       MOV.I  <    -1, $  -740     
       JMZ.B  $    -5, $    -5     
       MOV.I  $     0, $    -1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, #     1     
       MOV.AB #     8, $     8     
       MOV.I  <    -1, <     2     
       MOV.I  <    -2, <     1     
       SPL.B  @     0, $  1000     
       MOV.I  <    -1, $ -3690     
       JMZ.B  $    -5, $    -5     
       MOV.I  $     0, $    -1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, #     1     
       MOV.AB #     8, $     8     
       MOV.I  <    -1, <     2     
       MOV.I  <    -2, <     1     
       SPL.B  @     0, $ -1891     
       MOV.I  <    -1, $  1873     
       JMZ.B  $    -5, $    -5     
       MOV.I  $     0, $    -1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, #     1     
       MOV.AB #     8, $     8     
       MOV.I  <    -1, <     2     
       MOV.I  <    -2, <     1     
       SPL.B  @     0, $  3009     
       MOV.I  <    -1, $  -200     
       JMZ.B  $    -5, $    -5     
       MOV.I  $     0, $    -1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, #     1     
       MOV.AB #     8, $     8     
       MOV.I  <    -1, <     2     
       MOV.I  <    -2, <     1     
       SPL.B  @     0, $ -3168     
       MOV.I  <    -1, $ -1830     
       JMZ.B  $    -5, $    -5     
       MOV.I  $     0, $    -1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, #     1     
       MOV.AB #     8, $     8     
       MOV.I  <    -1, <     2     
       MOV.I  <    -2, <     1     
       SPL.B  @     0, $  1080     
       MOV.I  <    -1, $ -3904     
       JMZ.B  $    -5, $    -5     
       MOV.I  $     0, $    -1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, #     1     
       MOV.AB #     8, $     8     
       MOV.I  <    -1, <     2     
       MOV.I  <    -2, <     1     
       SPL.B  @     0, $ -3040     
       MOV.I  <    -1, $  -195     
       JMZ.B  $    -5, $    -5     
       MOV.I  $     0, $    -1     
       DAT.F  #     0, #     1     
       DAT.F  #     0, #     1     
       MOV.AB #     8, $     8     
       MOV.I  <    -1, <     2     
       MOV.I  <    -2, <     1     
       SPL.B  @     0, $ -3040     
       MOV.I  <    -1, $  -195     
       JMZ.B  $    -5, $    -5     
       MOV.I  $     0, $    -1     
       SPL.B  $     6, < -2030     
       SPL.B  $     5, <   750     
       SPL.B  $     4, < -2630     
       SPL.B  $     3, <  3467     
       SPL.B  $     2, < -1153     
       SPL.B  $     1, <  -453     
       SPL.B  $     0, $     0     
       MOV.I  <  2860, $ -2858     
       ADD.F  $     2, $    -1     
       DJN.B  $    -2, <  2920     
       DAT.F  #   948, #  -948     

